<nav class="navbar navbar-light bg-light mb-2 mt-2">
  <form class="container-fluid justify-content-between">
    <%= link_to 'All restaurants', restaurants_path, class: 'btn btn-success' %>
    <%= link_to 'Add restaurant', new_restaurant_path, class: 'btn btn-success' %>
  </form>
</nav>
<hr>
